body {
  background-color: #f2f2f2;
}

h3 {
  font-family: "Big Shoulders Display", cursive;
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 1.75em;
  margin-top: 0.95rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.65em;
  line-height: 1.75em;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
.preview-container {
  display: flex;
  margin-top: 20vh;
  max-width: 53%;
  max-height: 63%;
}
.vehicle-container {
  padding: 2.3rem;
  padding-top: 2.5rem;
}

img {
  width: 33.3%;
}
#sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}
#sedan button {
  color: hsl(31, 77%, 52%);
  background-color: hsla(0, 0%, 100%);
  border-color: hsla(0, 0%, 100%);
  border-style: solid;
}

#SUV {
  background-color: hsl(184, 100%, 22%);
}
#SUV button {
  color: hsl(184, 100%, 22%);
  background-color: hsla(0, 0%, 100%);
  border-color: hsla(0, 0%, 100%);
  border-style: solid;
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}
#luxury button {
  color: hsl(179, 100%, 13%);
  background-color: hsla(0, 0%, 100%);
  border-color: hsla(0, 0%, 100%);
  border-style: solid;
}

button {
  margin-top: 3.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 30px;
  font-size: 0.7em;
  font-weight: bold;
}

.attribution {
  display: block;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  background-color: #fffefe;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

/* Smaller screens */

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  /* Not working yet. Need to get columns to go into one column in mobile. */
}
