body {
  background-color: #f2f2f2;
}

h3 {
  font-family: "Big Shoulders Display", cursive;
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 1.75em;
  margin-top: 0.9rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.6em;
  line-height: 2em;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
.preview-container {
  display: flex;
  margin-top: 20vh;
  max-width: 53%;
  max-height: 63%;
}
.vehicle-container {
  padding-top: 2.5rem;
  padding: 2.5rem;
}

img {
  width: 33%;
}
#sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}

#SUV {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}

.attribution {
  display: block;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  background-color: #fffefe;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}
