body {
  background-color: #f2f2f2;
}

.preview-container {
  display: flex;
}

.attribution {
  display: block;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  background-color: #fffefe;
  text-align: center;
}
